body{
    background-image:url("Images/download\ 4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* navbar */
h1
{
  color: rgb(12, 12, 12);
  text-shadow:2px 3px 2px lightblue;
  font-family:arial;
  font-size: 60px;
  text-align: center;

}
.h1{
  color: rgb(244, 235, 235);
  text-shadow:2px 3px 2px rgb(114, 212, 245);
  font-family:arial;
  font-size: 50px;
  text-align: center;

}
h2{
  color: rgb(244, 235, 235);

}
.p{
  color: rgb(244, 235, 235);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --header-height: 3.5rem;
    --black-color: hsl(237, 28%, 15%);
    --black-color-light: hsl(43, 24%, 15%);
    --black-color-lighten: hsl(40, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
  
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  .header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
  }
  /* footer  */
.body{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;

}

footer
{
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
footer .social_icon,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
  list-style: none;
}
footer .social_icon li a
{
font-size: 2em;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
footer .social_icon li a:hover
{
  transform: translateY(-10px);
}
footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin:0 10px;
  display: inline-block;
  /* transition: 0.5s; */
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover
{
  opacity: 1;
}
footer p
{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  
  background-size: 1000px 100px;

}
footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px ;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
}
@keyframes animateWave
{
  0%{
      background-position-x: 1000px ;
  }
  100%{
      background-position-x: 0px;
  }
}
@keyframes animateWave_02
{
  0%{
      background-position-x: 0px ;
  }
  100%{
      background-position-x: 1000px;
  }
}

 